.title{
    text-transform: uppercase;
    font-size: 8vw; /* 8% from whole screen*/
    font-family: "Monsterrat","sans-serif";
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    margin: 10px;
    width: 100%;
    background-color: grey;
}
